.header {
  height: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.logOut {
  cursor: pointer;
}